<!-- Breadcrumb -->
<div class="flex flex-row items-center text-sm text-gray-500 mb-10">
  <%= link_to link_text, link_path, class:"text-gray-500 hover:underline" %>
  <span class="mx-4">
    <%= right_angle_icon %>
  </span>
  <span class="font-medium text-gray-900">
    <%= current_text %>
  </span>
</div>