<%# Top Header %>
<div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
  <%# Mobile menu button %>
  <!--Commented out temporarily-->
  <!--<button type="button" class="text-gray-700 lg:hidden" data-action="click->mobile-menu#toggle">
    <span class="sr-only">Open sidebar</span>
    <%#= menu_icon("h-6 w-6") %>-->
<!--  </button>-->

  <%# Company Logo %>
  <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
    <div class="flex items-center gap-x-4 lg:gap-x-6">
      <%= link_to root_path, class: "flex items-center gap-x-2" do %>
        <div class="flex h-8 w-8 items-center justify-center rounded-lg bg-purple-600">
          <span class="text-white font-semibold text-xl">CO</span>
        </div>
        <span class="text-lg font-semibold text-gray-900">Campus OS</span>
      <% end %>
    </div>
  </div>

  <%# Right side icons %>
  <div class="flex items-center gap-x-4 lg:gap-x-6">
    <%# Help button %>
    <button type="button" class="flex h-7 w-7 items-center justify-center rounded-lg border border-slate-200 bg-white text-slate-600 hover:text-slate-700">
      <%= question_mark_icon %>
    </button>

    <%# Notification button %>
    <button type="button" class="flex h-7 w-7 items-center justify-center rounded-lg border border-slate-200 bg-white text-slate-600 hover:text-slate-700">
      <%= bell_icon %>
    </button>

    <%# Separator %>
    <div class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-200" aria-hidden="true"></div>

    <%# User menu %>
    <%= render "shared/user_menu" %>
  </div>
</div> 