<!--Profile dropdown-->
<div class="relative" data-controller="dropdown">
  <button type="button" 
          class="-m-1.5 flex items-center p-1.5" 
          id="user-menu-button"
          data-action="click->dropdown#toggle">
    <span class="sr-only">Open user menu</span>

    <%= role_badge(current_account) %>
  </button>

  <!--User menu dropdown-->
  <div class="hidden absolute right-0 z-10 mt-2.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
       role="menu" 
       aria-orientation="vertical" 
       aria-labelledby="user-menu-button" 
       tabindex="-1"
       data-dropdown-target="menu">
    <!--Todo: Handle the case where the current account is an agent or company admin-->
    <%# if current_account.employee %>
      <%#= link_to "Your Profile", profile_path, class: "block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50", role: "menuitem", tabindex: "-1" %>
    <%#end%>
    <%= button_to "Sign out", destroy_account_session_path, method: :delete, class: "block w-full text-left px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-50", role: "menuitem", tabindex: "-1" %>
  </div>
</div>
